/* css styles */

/* Latest news callout */
#latest-news .callout-title-container {
/*  font-size: 1em;*/
}

/* Thumbnail photos of SC members */
#listing-sc-members .quarto-grid-item p.card-img-top > img {
  height: auto !important;
  aspect-ratio: 1;
  cursor: default;
}

/* Metadata of SC members */
#listing-sc-members .quarto-grid-item .card-other-values {
  margin-bottom: 0;
}

#listing-sc-members .quarto-grid-item .card-other-values tr>td:first-of-type {
  padding-left: 0;
}
